<mat-sidenav-container>
  <mat-sidenav mode="over" align="start"> Sidenav content </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="d-flex justify-content-between w-100">
        <span>Ordering System</span>
        <div *ngIf="isAuth">
          <button mat-button (click)="handleLogout()">Logout</button>
        </div>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
